@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --event-purple: #e5e0ff;
  --event-green: #e7f5e8;
  --event-blue: #e5f3ff;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 70px repeat(7, 1fr);
  gap: 1px;
}

.time-slot {
  height: 60px;
  border-top: 1px solid #eee;
}



@layer base {}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

